<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--构造注入，spring容器在调用类有参构造的同时，给属性赋值-->
    <!--声明学生对象-->
    <!--    <bean id="thisIsStudent" class="com.bjpowernode.ba02.Student">-->
    <!--        <property name="name" value="大飞"/>-->
    <!--        <property name="age" value="44"/>-->
    <!--        &lt;!&ndash;此处进行引用类型的赋值&ndash;&gt;-->
    <!--        <property name="school" ref="thisSchool"/>-->
    <!--    </bean>-->


    <!--此处使用name实现 构造注入 -->
    <bean id="thisIsStudent" class="com.bjpowernode.ba03.Student">
        <constructor-arg name="name" value="小飞"/>
        <constructor-arg name="age" value="1"/>
        <constructor-arg name="school" ref="thisSchool"/>
    </bean>
    <!--使用index属性【此属性可省略，但是要按形参赋值顺序书写】-->
    <bean id="thisIsStudent2" class="com.bjpowernode.ba03.Student">
        <constructor-arg index="0" value="大飞"/>
        <constructor-arg index="1" value="44"/>
        <constructor-arg index="2" ref="thisSchool"/>
    </bean>
    <!--声明学校对象-->
    <bean id="thisSchool" class="com.bjpowernode.ba03.School">
        <property name="name" value="辣鸡动力节点"/>
        <property name="add" value="浦东房价还行"/>
    </bean>
    <!--创建文件File，使用构造注入-->
    <bean id="myfile" class="java.io.File">
        <constructor-arg name="parent" value="D:\Java动力节点培训\动力节点网盘资料\AJAX\笔记\06-spring"/>
        <constructor-arg name="child" value="spring课堂笔记.txt"/>
    </bean>
</beans>