<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--声明组件扫描器component-scan,组件就是JAVA对象
        base-package=“注解位置的包名"；
         工作方式：spring进行扫描base-package指定路径中（包括子路径）的注解，根据注解名进行选择性的创建对象或属性赋值
         可多次使用元件扫描器
    -->
    <context:component-scan base-package="com.bjpowernode"/>
    <!--    加载属性配置文件【性能占位符】-->
    <context:property-placeholder location="classpath:test.properties"/>
</beans>