<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--此处向spring声明【咖啡豆】创建何对象
    1.id是对象的自定义名称是唯一值。是spring寻找咖啡豆的索引。
    2.class是类的全限定名称【注意是类 而不是接口！！！，因为spring是通过反射创建对象，此值必须是类类型】
    【spring框架中的特点： 将创建好的对象 放置于 map集合容器中】
        例如:spring 执行 Map.put（”SomeServiceImpl“，SomeServiceImpl）
                                        id的值    ，     对象【咖啡豆】
         注意：一颗咖啡豆表示声明一个对象
    -->
    <bean id="SomeServiceImpl" class="com.bjpowernode.service.impl.SomeServiceImpl"/>
    <bean id="SomeServiceImpl_Unique" class="com.bjpowernode.service.impl.SomeServiceImpl"/>
    <bean id="date" class="java.util.Date"/>
</beans>
        <!--spring 的配置文件
            1.beans 根标签。在spring中将java对象称为bean【咖啡豆，程序员还真是写意】
            2.spring-beans.xsd这是spring的约束文件，和MyBatis中的约束文件【dtd】是同样效果。
        -->