<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         https://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--
    将数据库的配置信息写入属性配置文件 编译修改数据库的配置内容【jdbc.properties】
    使用【源：属性路径持有者】 标签 告知spring 框架 属性配置文件的位置
    -->
    <context:property-placeholder location="classpath:jdbc.properties"/>


    <!--声明数据源DataSource[连接数据库]-->
    <bean id="druidDataSource"
          class="com.alibaba.druid.pool.DruidDataSource"
          init-method="init"
          destroy-method="close">
        <!--使用属性配置文件中的数据库连接信息/语法：${KEY}-->
        <!--设置注入给数据库连接池提供所连接数据库的信息-->
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="${jdbc.maxActive}"/>
    </bean>


    <!--声明mybatis中所提供的sqlSessionFactoryBean类，此类内部创建SQLSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--设置注入将德鲁伊数据库连接池赋给dataSource属性-->
        <property name="dataSource" ref="druidDataSource"/>

        <!--
        声明mybatis主配置文件
        configLocation 属性 是Resources类型，用于读取配置文件信息
        它的赋值，使用value指定文件的路径，使用【classPath：配置文件名】
        -->
        <property name="configLocation" value="classpath:mybatis.xml"/>
    </bean>


    <!--
    创建dao对象，需要使用sqlSession.getMapper（DAO接口.class）
    【MapperScannerConfigurer】内部调用getMapper（），生成每个DAO接口的代理对象
    -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定SqlSessionFactory的name="sqlSessionFactoryBeanName"-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--
        指定所扫描的dao接口的包名
        执行getMapper（），创建该包下的每个dao对象
        -->
        <property name="basePackage" value="com.bjpowernode.dao"/>
    </bean>


    <!--声明service-->
    <bean id="buyGoodsService" class="com.bjpowernode.service.impl.BuyGoodsServiceImpl">
        <property name="saleDao" ref="saleDao"/>
        <property name="goodsDao" ref="goodsDao"/>
    </bean>

    <!--spring的事务处理-->
    <!--1.声明事务管理器-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--声明 所连接的数据库，指定数据源-->
        <property name="dataSource" ref="druidDataSource"/>
    </bean>
    <!--2.开启事务注解驱动，告诉spring使用注解管理事务，创建代理对象-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>